/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
   background-color: rgb(220, 220, 220);
   margin: auto 0;
}

/* navbar */

.navbar {
   background-color: #5485BD;
   display: flex;
   justify-content: space-between;
   padding: 1%;
   margin-bottom: 2%;
}

.navbar-title-container h1 {
   margin: 0;
}

/* .navbar-title-container {
   
} */

.navbar-actions-container {
   padding: 1%;
}

.navbar-actions-container a {
   transition: 0.2s;
   background-color: #DCDCDC;
   margin-right: 10pt;
   padding: 5pt;
   text-decoration: none;
   color: #000000;
   border-radius: 10%;
   border: none;
}

.navbar-actions-container a:hover {
   background-color: #000000;
   color: #DCDCDC;
}